.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: var(--secondary-color-4);
    color: var(--secondary-color-1);
    border-radius: 10px;
    text-align: left;
    padding: 0.25rem;
}

.switch {
    position: relative;
    width: 48px;
    height: 20px;
    flex-shrink: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: rgba(217, 217, 217, 1);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    cursor: pointer;
}



/* El botón deslizante (knob) */
.knob {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 14px;
    height: 14px;
    background-color: var(--primary-color-1);
    border-radius: 50%;
    transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Animación del knob cuando está activo */
.switch.active .knob {
    transform: translateX(26px);
    background-color: var(--primary-color-6);

}

/* Efecto de escala al hacer click */
.button:active .knob {
    background-color: var(--primary-color-6);
    transform: scale(0.95);
}

.button:active .switch .active .knob {
    transform: translateX(17px) scale(0.95);
}

/*@media (min-width: 641px) {*/
/*    .button{*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

@media (min-width: 1023px) {

    .button{
        width: 265px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        padding-left: 1.125rem;
        padding-right: var(--15px);
    }

}


