.summaryCardPropertie{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
    margin: 20px;
}

.cardProperties{
    display: flex;
    flex-direction: row;
    width: 436px;
    height: 115px;
    background-color: var(--primary-color-6);
    border-radius: 15px;
    justify-content: center;
    color: var(--secondary-color-1);
}

.middleCardProperties{
    background-color: var(--secondary-color-1);
    color: var(--primary-color-6);
    border: var(--primary-color-6) 1px solid;
}

.completyCardProperties{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.middleInfoCardProperties{
    background-color: var(--primary-color-6);
    color: var(--secondary-color-1);
}

.infoCardProperties, .middleInfoCardProperties{
    width: 436px;
    height: fit-content;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 15px;
    align-content: center;
    padding-left: 20px;
    padding-top: 10px;
}

.infoCardProperties li{
    list-style: none;
}

.infoCardProperties{
    background-color: var(--secondary-color-1);
    border: var(--primary-color-6) 1px solid;
}