/* app/components/ProfessionalCard.module.css */

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first;
    overflow: hidden;

    max-width: 650px;
    width: 100%;
    height: fit-content;

    padding: 30px;
    gap: 10px;

    background-color: #ffffff;
    border: 2px solid var(--primary-color-2);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.40);
    color: #333;
    transition:
            border-color 0.6s ease,
            box-shadow 0.3s ease;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.infoContainer h1 {
    margin-top: 0;
    color: var(--secondary-color-4);
}
.info h5 {
    color: var(--secondary-color-3);
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.infoContainer p strong {
    font-weight: normal;
    color: #555;
}


@media (min-width: 1024px) {
    .card {
        gap: var(--30px);
    }
}