.infoCardProperties{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: -1px;
    background-color: var(--primary-color-1);
    color: var(--secondary-color-1);
    font-size: 20px;
    align-items: center;
    white-space: wrap;
    justify-self: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: darkred 1px solid;
    margin-inline: auto;
}

.infoPositionProperties{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.infoCardProperties a{
    text-decoration: none;
    color: var(--secondary-color-1);
}

.sedeInfo span{
    display: list-item;
    list-style-type: disc;
    margin-left: 20px;
}

.sedeInfo span:hover{
    border-bottom: var(--secondary-color-1) 1px solid;
}

.notBorder{
    border-bottom: none;
}

.infoSedeProperties{
    text-decoration: none;
}

@media (min-width: 1024px) {
    .infoCardProperties {
        width: 100%;
    }
}