/*cards properties*/
.card {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: fit-content;
    margin-bottom: var(--20px);
    border-radius: 10px;
    border: 1px solid rgba(149, 150, 154, 0.3);
    color: var(--secondary-color-4);
    justify-self: center;
}

.information {
    display: flex;
    flex-direction: column;
    width: 96%;
    gap: var(--30px);
}

.eventMainInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-inline: var(--20px);
}

.name {
    width: 60%;
}

.details {
    display: flex;
    flex-direction: row;
    gap: var(--20px);
}

.aditionalInformation {
    display: none;
    flex-direction: column;
    padding-inline: var(--20px);
    gap: var(--10px);
    /*transition: opacity 1s ease-out;*/
}

.aditionalInformation h4 span{
    border-bottom: #060606 1px solid;
}
.aditionalInformation h4 {
    margin: 0;
    padding: 0;
}
.visible {
    display: flex;
    /*opacity: 1;*/
    padding-bottom: var(--30px);
}

.plus {
    font-weight: bolder;
}

.taller, .redonda, .simposio, .conferencia, .dialogo, .reunion, .confAbierta, .others {
    display: flex;
    flex-direction: column;
    width: 4%;
    margin-right: var(--10px);
    border-radius: 10px 0 0 10px;
}


/*general*/
.others {
    background: linear-gradient(to right, var(--primary-color-1), var(--secondary-color-1));
}
.taller {
    background: linear-gradient(to right, var(--primary-color-2), var(--secondary-color-1));
}
.dialogo {
    background: linear-gradient(to right, var(--primary-color-3), var(--secondary-color-1));
}
.redonda {
    background: linear-gradient(to right, var(--primary-color-4), var(--secondary-color-1));
}
.conferencia {
    background: linear-gradient(to right, var(--primary-color-5), var(--secondary-color-1));
}
.simposio {
    background: linear-gradient(to right, var(--primary-color-6), var(--secondary-color-1));
}
.reunion {
    background: linear-gradient(to right, var(--primary-color-7), var(--secondary-color-1));
}
.confAbierta {
    background: linear-gradient(to right, var(--secondary-color-4), var(--secondary-color-1));
}
