.card{
    border: var(--secondary-color-5) solid 1px;
    border-radius: 5px;
    width: 90%;
}

.longCard{
    width: 100%;
}

.title{
    color: var(--secondary-color-1);
    background-color: var(--secondary-color-5);
    margin: var(--15px) 0;
    /*margin: ;*/
}

.subSection{
    margin-bottom: var(--15px);
}

.text{
    font-size: var(--10px);
    margin: 0 0 var(--5px) 0;
}

.marginLeft{
    padding-left: var(--15px);
}

/* Tablets */
@media (min-width: 641px) and (max-width: 1023px) {
    .text{
        font-size: var(--15px);
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .card{
        width: 100%;
    }

    .longCard{
        margin: 0;
    }

    .text{
        font-size: var(--20px);
    }
}