.banner {
    position: relative;

    width: 50%;
    height: fit-content;

    padding: 1rem;
    margin-bottom: 1rem;
    margin-inline: auto;

    border-left: 4px solid;
    border-radius: 0.375rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.success {
    background-color: var(--secondary-color-5);
    border-color: #065f46;
    color: #34d399;
}

.error {
    background-color: var(--secondary-color-5);
    border-color: #7f1d1d;
    color: #f87171;
}

.closeButton {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    font-size: 1.25rem;
    font-weight: bold;
    background: none;
    border: none;
    color: var(--secondary-color-2);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.closeButton:hover {
    color: var(--secondary-color-1);
}
