.toggleContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toggle{
    width: 100%;
    background-color: var(--secondary-color-1);
    color: var(--secondary-color-4);
    border: 0.5px solid var(--secondary-color-4);
    border-radius: 2px;
    font-size: 1.125rem;
}

.buttonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

@media (min-width: 400px) {
    .buttonsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 641px) {
    .buttonsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .buttonsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        min-width: 11rem;
    }
}

@media (min-width: 1024px) {
    .buttonsContainer{
        /*width: 12rem;*/
    }
}