.signOutButton {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;

    background-color: var(--primary-color-1);
    color: var(--secondary-color-1);
    border: none;

    padding: 0.6rem 1.2rem;
    border-radius: 9999px;


    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 500;

    cursor: pointer;
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    transition: transform 0.2s ease;
}


.signOutButton:hover {

    background-color: transparent;
    color: var(--primary-color-1);
    border: 1px solid var(--secondary-color-1);

    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(239, 68, 68, 0.3); 
}

.signOutButton:hover .icon {
    transform: translateX(2px);
}

.signOutButton:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 6px rgba(239, 68, 68, 0.2);
}