.sectionCardsProperties {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 10px;
    justify-content: center;
}

.cardProperties{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 137px;
    background-color: var(--secondary-color-4);
    color: white;
    border-radius: 5px;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
}

.infoCardProperties{
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 1s ease;
    z-index: 10;
}

.cardCompletyProperties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardCalendarProperties{
    background-color: white;
    color: var(--secondary-color-4);
    border: var(--secondary-color-4) 3px solid;
}

.todo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.infoCardsProperties{
    display: flex;
    flex-direction: column;
    font-size: 23px;
    white-space: nowrap;
}

.imageCardProperties{
    background-color: white;
    width: 55px;
    height: 55px;
    align-self: center;
    align-content: center;
    text-align: center;
}

.imageCalendarCardProperties{
    background-color: var(--secondary-color-4);
}

/**/
.cardClosed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.openCardCardCompletyProperties{
    margin-bottom: 170px;
}

.openCard{
    visibility: visible;
    background-color: var(--primary-color-1);
    width: 380px;
    opacity: 1;
}

.openCardProperties{
    background-color: var(--primary-color-1);
    color: var(--secondary-color-1);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
}

.deployIconProperties{
    width: 100%;
    text-align: right;
    visibility: visible;
    margin-top: 10px;
    margin-right: 10px;
}

.deployIconCardCalendarProperties{
    padding-left: 0;
    background-color: #7D0279;
    margin-right: 5px;
}

.buttonProperties{
    background-color: transparent;
    border-style: none;
    transition: transform 0.3s ease;
}

.iconRotate{
    transform: rotate(180deg);
}
/**/

@media (min-width: 768px) {
    .sectionCardsProperties{
        flex-direction: row;
        margin-top: 5%;
    }

    .cardProperties{
        width: 480px;
        gap: 30px;
    }

    .cardCompletyProperties:hover .infoCardProperties{
        visibility: visible;
        opacity: 1;
    }

    .cardCompletyProperties:hover .cardHoverPropertie{
        background-color: var(--primary-color-1);
        color: var(--secondary-color-1);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border: none;
    }

    .deployIconProperties{
        visibility: hidden;
        margin: 0;
        padding: 0;
        height: 0;
        width: 0;
    }
}