/* DOCUMENTO DE BIENVENDIA */
.cardAndSponsorsProperties{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sponsorsProperties, .imageProperties{
    display: flex;
    flex-direction: column;
    width: 408px;
    align-items: center;
}

.infoProperties{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsorsProperties p{
    width: 95%;
    text-align: center;
    font-size: 20px;
}

.imageAndInfoProperties{
    display: flex;
    flex-direction: row;
}

.presentationCardProperties:hover{
    background-color: var(--secondary-color-4);
}

.presentationCardProperties:hover .infoColorProperties, .presentationCardProperties:hover{
    color: var(--secondary-color-1);
}

.infoProperties h1, .presentationCardProperties h1{
    font-size: var(--h1-size);
    font-family: "Cactus Classical Serif";
    border-bottom: var(--secondary-color-5) 1px solid;
    text-align: center;
}

.presentationCardProperties{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 919px;
}

.infoPresentationProperties{
    display: flex;
    flex-direction: column;
}

.totalInfoProperties{
    display: flex;
    flex-direction: column;
    height: 380px;
}

.presentationCardProperties, .sponsorsProperties{
    border: var(--secondary-color-4) 2px solid;
    border-radius: 20px;
    transition: background-color 1s ease;
}

.infoAndImageProperties{
    display: flex;
    flex-direction: row;
}

.infoAndImageProperties p{
    width: 80%;
}

.imagePresentationProperties{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    position: relative;
}

.paragraphOneProperties{
    display: flex;
    align-items: center;
}

.paragraphProperties {
    display: flex;
    flex-direction: column;
    color: var(--secondary-color-4);
    font-size: var(--20px);
    margin-left: 20px;
}

.sectionCard{
    width: 95%;
}

@media (max-width: 1050px) {
    .cardAndSponsorsProperties{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .totalInfoProperties{
        height: 490px;
        gap: 10px;
    }

    .imagePresentationProperties span{
        font-size: 14px;
    }

    .presentationCardProperties, .sponsorsProperties, .imageProperties{
        width: 95%;
    }

    .paragraphProperties{
        font-size: var(--15px);
    }

    .presentationCardProperties h1{
        font-size: var(--h2-size);
        font-family: "Cactus Classical Serif";
    }

    .visible{
        visibility: visible;
    }

    .visibleParagraph{
        visibility: hidden;
    }

    .sponsorsProperties h1{
        font-size: var(--h1-size);
    }
}