/* DOCUMENTO DE BIENVENDIA */
.cardAndSponsorsProperties{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.sponsorsProperties, .imageProperties{
    display: flex;
    flex-direction: column;
    width: 408px;
    align-items: center;
    gap: 50px;
}

.imageProperties{
    margin-top: 20px;
}

.presentationCardProperties:hover{
    background-color: var(--secondary-color-4);
}

.presentationCardProperties:hover .infoColorProperties, .presentationCardProperties:hover{
    color: var(--secondary-color-1);
}

.sponsorsProperties h1, .presentationCardProperties h1{
    font-size: var(--h1-size);
    font-family: "Cactus Classical Serif";
    border-bottom: #060606 1px solid;
}

.presentationCardProperties{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 919px;
}

.infoPresentationProperties{
    display: flex;
    flex-direction: column;
}

.totalInfoProperties{
    display: flex;
    flex-direction: column;
    height: 380px;
}

.visible{
    visibility: visible;
}

.visibleParagraph{
    visibility: hidden;
}

.presentationCardProperties, .sponsorsProperties{
    border: var(--secondary-color-4) 2px solid;
    border-radius: 20px;
    transition: background-color 1s ease;
}

.infoAndImageProperties{
    display: flex;
    flex-direction: row;
}

.infoAndImageProperties p{
    width: 607px;
}

.imagePresentationProperties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraphProperties {
    display: flex;
    flex-direction: column;
    color: var(--secondary-color-4);
    font-size: var(--20px);
    margin-left: 20px;
}

@media (max-width: 768px) {
    /* DOCUMENTO DE BIENVENDIA */
    .cardAndSponsorsProperties{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .totalInfoProperties{
        gap: 20px;
        height: 490px;
    }

    .presentationCardProperties{
        width: 100%;
    }

    .sponsorsProperties, .imageProperties{
        width: 380px;
    }

    .paragraphProperties{
        font-size: var(--15px);
    }

    .paragraphTwoProperties{
        width: 400px;
    }

    .infoAndImageProperties p{
        width: 155px;
    }

    .infoAndImageProperties{
        height: 312px;
    }

    .presentationCardProperties h1{
        font-size: var(--h3-size);
        font-family: "Cactus Classical Serif";
    }

    .visible{
        visibility: hidden;
    }

    .visibleParagraph{
        visibility: visible;
    }

    .sponsorsProperties h1{
        font-size: var(--h1-size);
    }
}