/* page.module.css */
.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin-top: 50px;

    width: 90%;
}

.introduction {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
}

.presentation h1 {
    margin-bottom: 0;
}
.presentation h2 {
    margin-top: 5px;
}

@media (min-width: 750px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}